---
layout: "base.njk"
title: "Directory"
eleventyNavigation:
  key: Directory
---

<ul class="post-entries">
{% for post in collections.post | reverse %}
  <li class="post-entry">
    <img src="{{ post.data.image }}">
    <h1 class="post-entry__title">
      <a href="{{ post.data.site }}">{{ post.data.title }}</a>
    </h1>
    <p>{{ post.data.description }}</p>
    <p>favs: {{ post.data.favs }}</p>
    <p class="post-entry__date">
      date added: {% if post.data.date %} {{ post.data.date | postDate }} {% endif %}
    </p>
    <hr />
  </li>
{% endfor %}
</ul>
