---
layout: "base.njk"
title: "Posts"
eleventyNavigation:
  key: Posts
---

<ul class="post-entries">
{%- for post in collections.post | reverse -%}
  <li class="post-entry">
    <h1 class="post-entry__title">
      {{ post.data.title }}
    </h1>
    <p>{{ post.data.description }}</p>
    <p class="post-entry__date">
      {% if post.data.date %} {{ post.data.date | postDate }} {% endif %}
    </p>
    <hr />
  </li>
{%- endfor -%}
</ul>
